.popup__close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: opacity 0.3s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -38px;
    right: -5px;
  }
}
