.popup__container {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    padding: 34px 36px 37px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* height: 330px; */
  }
  
  @media screen and (max-width:767px) {
    .popup__container {
      max-width: 282px;
      margin: 0 19px;
      padding: 25px 22px;
    }
  }
  