.profile__info {
  display: flex;
  max-width: 336px;
  flex-wrap: wrap;
  margin-left: 26.25px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    margin: 26px auto 36px;
    justify-content: center;
  }
}

