.profile__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .profile__container {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}

